# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Datasets (VERY IMPORTANT)
dataset/
plantvillage dataset/
# ML models
*.h5
*.keras

# Flask instance
#instance/

# OS junk
.DS_Store
Thumbs.db
